body.index-page{
    font-size: 10px;
     background-image: url(assests/bachround\ of\ citygo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     font-family: Arial, sans-serif; 
    }

html{
    font-size: 10px;
}
.parkingbody{
    background-color: rgba(18, 128, 106, 1);
}

.headertitle{
    text-align: center;
    color: green;
    font-size: 3rem;
    justify-content: center;
}
.slogan{
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
     margin: 0; 
}
    
    #map {
  height: 30rem;
  width: 100%;
  border-radius: 10px;
  margin: 10rem 0;
}
.image{
    width: 9rem;
}
.headertitleimage{
    display: flex;
    justify-content: center;
}
.bottom-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    box-shadow: 
        0 -2px 6px rgba(0, 0, 0, 0.15),
    0 -4px 12px rgba(0, 0, 0, 0.10),
    0 -8px 24px rgba(0, 0, 0, 0.08);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.row {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}
.secondColumn {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}
.secondColumn.show {
  max-height: 100px; 
  opacity: 1;
  overflow: visible;
}
.btn {
  flex: 1;
  margin: 0 5px;
  padding: 1rem;
  font-size: 1.6rem;
  background: none;
  border: none;
  cursor: pointer;
    padding: 0;
    margin: 0;
    
}
.toggle-btn{
    border-radius: 10rem;
  position: absolute;
  top: -2rem;         
  left: 50%; 
  transform: translateX(-50%);
   z-index: 10;
}

.imagebackground{
    width: 100%;
    height: 24rem;
}

.search-input{
    position: absolute;
    top: 12rem;
    left: 5%;
    border-radius: 1rem;
    font-size: 2rem;
    background-color: rgba(23, 141, 126, 0.87);
    z-index: 999;
    color: rgba(255, 255, 255, 0.5);
}
.register{
    font-size: 2rem;
       background: linear-gradient(90deg, #ff512f, #dd2476);
    text-align: center;
      color: white;
      padding: 0.5rem 2rem;
      border-radius: 50px;
        box-shadow: 0 4px 15px rgba(0,0,0,0.2);
      transition: all 0.3s ease ;
      letter-spacing: 1px;
      cursor: pointer;
      position: absolute;
      right: 4rem;
      top: 5rem;
}
 .register:hover {
      transform: translateY(-3px);
      box-shadow: 0 6px 20px rgba(0,0,0,0.3);
    }
    @media(max-width : 750px){
        .register{
            padding: 0.1rem 0.5rem;
            font-size: 1.3rem;
        }
        
    }
    @media(max-width : 500px){
        .headertitle{
            font-size: 2.4rem;
        }
        .image{
            width: 7rem;
        }
        .register{
            right: 1rem;
        }
        
         
         .slogan{
            font-size: 1.3rem;
         }
         .transparent-card{
            width: 15rem;
            height: 3rem;
         }
         .searchinput{
            font-size: 1.2rem !important;
         }
    }
   
    .card{
        width: 10rem;
        height: 8rem;
         
        border-radius: 1rem;
        overflow: hidden;
        position: relative;
        box-shadow: 0 4px 12px rgba(0,0,0,0.2);
         justify-content: center;  
  align-items: center; 
    }
    .card-overlay{
         position: absolute;
         inset: 0; 
         background: rgba(0,0,0,0.5); 
         display: flex;
         justify-content: center;
         align-items: center;
         color: white;
         text-align: center;
         
   }
   .container{
    margin-top: 10rem;
    display: flex;
    justify-content: center;  
    align-items: flex-end;                 
    padding-bottom: 3rem; 
   }
.card1{
    width: 15rem;
    height: 11rem;
    background-color: rgba(166, 240, 162, 1);
    text-align: center;
    border-radius: 1rem;
    padding: 5px 5px;
   height: 100%; 
}
.card1 .card-overlay1{
   font-size: 1.2rem;
}
.alldiv{
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.card2{
    width: 15rem;
    height: 13rem;
    background-color: rgba(166, 240, 162, 1);
    text-align: center;
    border-radius: 1rem;
    padding: 5px 5px;
     height: 100%; 
}
.card2 .card-overlay2{
   font-size: 1.2rem;
}
.card3{
    width: 15rem;
    height: 16rem;
    background-color: rgba(166, 240, 162, 1);
    text-align: center;
    border-radius: 1rem;
    padding: 5px 5px;
     height: 100%; 
}
.card3 .card-overlay3{
   font-size: 1.2rem;
}
@media(max-width : 574px){
.card1 .card-overlay1{
   font-size: 1rem;
}
.card2 .card-overlay2{
   font-size: 1rem;
}
.card3 .card-overlay3{
   font-size: 1rem;
}
}
@media(max-width : 436px){
    .card1{
    width: 15rem;
    height: 13rem;
     height: 100%; 
    }
    .card2{
    width: 15rem;
    height: 13rem;
     height: 100%; 
    }
    .card3{
    width: 15rem;
    height: 13rem;
     height: 100%; 
    }
}
.transparent-card {
   
    width: 18rem;
    height: 5rem;
    background: rgba(0, 0, 0, 0.5); 
    color: #fff;                     
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    
}
.parent-container{
display: flex;
justify-content: center;
}
body.Registration-page{
    font-size: 10px;
    background: linear-gradient(rgba(5, 202, 173, 1), rgba(0, 66, 57, 1));
   font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.registrationtitle{
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
}
.form-container {
    
    border-radius: 1rem;
    text-align: center;
    color: #fff;
}
.form-container input {
    display: block;
    border-radius: 8px;
     margin: 1rem;
     padding: 1rem;
    width: 30rem;
     
}
#registrationForm{
    margin-bottom: 13rem;
    
}
.register-btn {
    width: 20rem;
    padding: 0.8rem;
    margin-top: 1rem;
    background-color: rgba(3, 218, 187, 1);
    border: none;
    border-radius: 50px;
    color: rgba(0, 0, 0, 1);
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1.5rem;
}
.register-btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
}
.headertitletransport{
    font-size: 3rem;
    color: green;
    position: absolute;
    left: 8rem;
    
}
.location{
    width: 10rem;
    height: 5rem;
    transform: translateY(1rem);
}
.headerdiv{
    display: flex;
}
#map1{
   
    margin-top: 10rem;
}


.icon_names{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}
.icon-texts{
    text-align: center;
}
.Departuresbusicon{
    display: flex;
}
.DeparturesTrolleybusicon{
    display: flex;
}
.DeparturesP{
    margin-left: 3rem;
}
.searchinput{
     position: absolute;
    top: 7rem;
    left: 10%;
    border-radius: 1rem;
    font-size: 2rem;
}
.leaflet-routing-container {
    max-width: 300px;
    background: rgba(255,255,255,0.9); 
    border-radius: 0.5rem;
}
@media (max-width: 600px) {
    .leaflet-routing-container {
        font-size: 0.8rem;
        max-width: 200px;
    }
    .leaflet-routing-instructions {
        font-size: 0.7rem;
    }
    .search-input{
        font-size: 1.1rem;
        width: 17rem;
        height: 2rem;
    }
}
.parkingButton{
    position: absolute;
    left: 30%;
    background-color: rgba(3, 218, 187, 1);
    width: 19rem;
    height: 4rem;
    font-size: 2rem;
}
.Registrationdiv{
    display: flex;
    margin-left: 4rem;
}
@media(max-width: 407px){
 .transportUL{
     font-size: 1rem !important;
}
}